<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>
            News Lens Result page 
        </title>
       
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
        <style>
            body {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Poppins', sans-serif;
                background: url('cse299 page-3.jpg') no-repeat center center fixed;
                background-size: cover;
                height: 100vh; 
            }
        </style>
   
    </head>
    <div class="news_lens" style=" position: relative;width: 100%; padding: 40px 100px;margin-top: -50px;">
        <div class="title" style=" display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        color: aliceblue;
        margin-right: 700px;">
            <h2>News Lens</h2>
        </div>
    </div>

    <div class="container" style=" background-color: whitesmoke;
    width: 600px;
    text-decoration-color: rgb(36, 39, 212);
    margin-left: 130px; 
    margin-top: -70px;
    padding: 40px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    font-family: sans-serif;
    display: flex;
    gap: 20px;;">

    <div class="form-01">
        <textarea placeholder="Headline" style="padding: 10px;
        font-size: 1.1em;
        outline: none;
        border: 1px solid#162edc;
        resize: none;
    min-height: 20px;
    margin-bottom: 10px;
    width: 500px;"></textarea>
    
        <br> <textarea placeholder="content" style="padding: 10px;
        font-size: 1.1em;
        outline: none;
        border: 1px solid #162edc;
        resize: none;
    min-height: 150px;
    margin-bottom: 10px;
    width: 500px;"></textarea>
    
       <br> <span style=color:#162edc;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;><b>Bias:</b></span>
        <input type="text "placeholder="" style="padding: 10px;
        font-size: 1.1em;
        outline: none;
      border: 1px solid #162edc;
      width: 400px">

<br><br> <span style=color:#162edc;
margin-top: 10px;
margin-bottom: 5px;
font-weight: 500;><b>percentage:</b></span>
    <input type="text "placeholder="" style="padding: 10px;
    font-size: 1.1em;
    outline: none;
  border: 1px solid #162edc;
  width: 350px">

    <br> <br><b><span style=color:#162edc;
            margin-top: 10px;
            margin-bottom: 5px;
            font-weight: 100;>Related article:</span></b>

            <br> <textarea placeholder="" style="padding: 10px;
        font-size: 1.1em;
        outline: none;
        border: 1px solid #162edc;
        resize: none;
    min-height: 150px;
    margin-bottom: 10px;
    width: 500px;"></textarea>


<a href="cse299 page-1.html" style="padding: 10px; background-color: #162edc; color: white; text-decoration: none; border-radius: 5px; display: inline-block;">
    Back
</a>

    </div>

    </div>

        </body>
        </html>