
*.pyc
backend/models/model.pth
/backend/ROBERTA
templates/frontend/cse299 page-02 practice.html
templates/frontend/cse299 page-1.css
templates/frontend/cse299 page-1.html
templates/frontend/cse299 result page.html
templates/cse299 page-1.css
templates/cse299 page-1.html
templates/cse299 result page.html
templates/cse299 page-02 practice.html
