<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Source+Code+Pro:ital,wght@0,566;1,566&family=Tektur:wght@400..900&display=swap"
        rel="stylesheet">
</head>

<body>

    <a href="/" class="back-button">Back</a>

    <section class="about-section">
        <div class="aboutUs">
            <h1>About Us</h1>
        </div>
        <div class="card-container">
            <div class="card">
                <img src="/static/t4.jpeg" alt="Person 1">
                <h2>Taniha Shiaree Tripura</h2>
                <p><a href="https://www.linkedin.com/in/taniha-tripura-1b845731b/">LinkedIn</a></p>
                <p>Team Member - Code Crashers</p>
            </div>
            <div class="card">
                <img src="person2.jpg" alt="Person 2">
                <h2>Ekfat Jahan Nowshin Ashrafy</h2>
                <p><a
                        href="https://www.linkedin.com/in/ekfat-jahan-ashrafy-452b722b2/?originalSubdomain=bd">LinkedIn</a>
                </p>
                <p>Team Member - Code Crashers</p>
            </div>
            <div class="card">
                <img src="/static/ak.PNG" alt="Person 3">
                <h2>Akif Zahin</h2>
                <p><a href="https://www.linkedin.com/in/akifzahin/">LinkedIn</a></p>
                <p>Team Member - Code Crashers</p>

            </div>
        </div>
    </section>


</body>

</html>